<!DOCTYPE html>
<div class="ui container">
  <h1 class="ui center aligned header">Workout Dashboard</h1>
  <div class="ui segments">
    <div class="ui segment">
        <canvas id="canvas"></canvas>
    </div>
    <div class="ui segment">
        <canvas id="canvas2"></canvas>
    </div>
    </div>
  </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/chart.js@3.2.0/dist/chart.min.js"></script>
<script src="/js/api.js"></script>
<script src="/js/stats.js"></script>

